# Application
NODE_ENV=production
SERVER_IP=192.168.20.11

# Base de données
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=192.168.20.13
DATABASE_URL=postgresql://user:password@192.168.20.13:5432/dbname

# Sécurité
JWT_SECRET=

# Keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

# GitLab
GITLAB_EXTERNAL_URL=http://192.168.20.11:8929

# SonarQube
SONAR_JDBC_PASSWORD=

# Grafana
GF_SECURITY_ADMIN_PASSWORD=

# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
