# Application
NODE_ENV=development
SERVER_IP=localhost

# Base de données
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Sécurité
JWT_SECRET=

# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

