node_modules/
frontend/node_modules/
backend/node_modules/

.env.dev
.env.prod
.env.staging

.env.chef
.env.adjoint
.env.chef-db
.env.adjoint-db
.env.prod-db
.env.staging-db

frontend/dist/

.vscode/
.DS_Store

*.log
npm-debug.log*
