# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# Authentification
JWT_SECRET="your_jwt_secret_key"
JWT_REFRESH_SECRET="your_refresh_token_secret"
JWT_EXPIRES_IN="1h"

# Serveur
PORT=3000
NODE_ENV=development

# Email (SMTP)
EMAIL_FROM=your_email@example.com
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587   
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

# Frontend
FRONTEND_URL=http://localhost:5173

# Minio (Stockage)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_PUBLIC_BUCKET=dev-public
MINIO_PRIVATE_BUCKET=dev-private