# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="temps en heure"
PORT=3000
REFRESH_SECRET=superrefreshsecret456
NODE_ENV=development
SMTP_HOST=smtp.example.com
SMTP_PORT=587   
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
FRONTEND_URL=http://localhost:5173